*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}


.hero{
    width: 100%;
    position: relative;
}

.container{
    width: 80%;
    padding: 0 5px;
    margin: 0 auto;
    

}
.border-line{
    height: 20px;
    width: 20px;
    border-left: 5px solid #FF5959;
}
.col-1{
    width: 50%;
    height: 600px;
    float: left;   
}

.col-1 h1{
    margin-top: 150px;
}
.col-1 h1, span{
    font-family: 'Yeseva One', cursive;
    font-size: 65px;
    line-height: 75px;
}
.col-1 span{
    color: #FFAD5A;
}

.col-1 p{
    font-size: 20px;
    line-height: 30px;
    color: #3E3E3E;
}
.col-1 .btn{
    font-size: 16px;
    padding: 10px 30px;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #FF5959;
    border-radius: 5px;
}
.col-1 .details-size{
    font-size: 15px;
    color: #3E3E3E;
    margin-top: 25px;
}

.col-1 img{
    width: 60%;
    float: right;
    margin-right: 75px;
    margin-top: 50px;
    
}

.mission{
    width: 100%;
}

.mission h1{
    text-align: center;
    font-size: 50px;
}

.mission span{
    color: #FFAD5A;
    font-family: 'Poppins', sans-serif;
}
.mission-details{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.mis-col-1{
    width: 30%;
    height: 360px;
    padding: 15px;
    border-radius: 20px;  
}

.mis-col-1 img{
    width: 150px;
    height: 150px;
}
.mis-col-1 h1{
    text-align: left;
    font-size: 25px;
}
.mis-col-1 p{
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    margin-top: 20px;
}
.mis-bg-1{
    background: rgba(79, 157, 166, 0.1);
}
.mis-bg-2{
    background: rgba(255, 89, 89, 0.1);
}
.mis-bg-3{
    background: #FFF4D6;
}
.dev-details{
    margin-top: 30px;
    width: 100%;
}
.circle-1 img{
    width: 220px;
    height: 220px;
    position: absolute;
    left: 85px;
    top: 170px;
    z-index: -1;
}
.dev-col-1{
    width: 35%;
    height: 400px;
    margin-top: 25px;
    float: left;
    margin-right: 150px;
    
}
.dev-col-1 img{
    width: 100%;
    
}

.dev-col-2{
    width: auto;
}

.dev-col-2 h1{
    padding-top: 120px;
    font-size: 36px;
    line-height: 60px;
}
.dev-col-2 p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 25px;
}

.dev-col-2 .btn{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #FF5959;
    border-radius: 5px;
}

.global-details{
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.global-col-1{
    width: 60%;
    margin-top: 150px;
    margin-right: 30px;
}
.global-col-1 h1{
    /* padding-top: 120px; */
    font-size: 36px;
    line-height: 60px;
}

.global-col-1 p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 25px;
}

.global-col-1 .btn{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #FF5959;
    border-radius: 5px;
}


.global-col-2{
    width: 40%;
    height: 400px;
    float: right;
}

.global-col-2 img{
    width: 100%;
    
}
.circle-2 img{
    width: 220px;
    height: 220px;
    position: absolute;
    right: 85px;
    top: 475px;
    left: 1570px;
    z-index: -1;
}
.blog{
    width: 100%;    
}
.blog h1{
    margin-top: 200px;
    text-align: center;
    font-size: 60px;    
}
.blog span{    
    font-size: 60px; 
    color: #FFAD5A;
    font-family: 'Poppins', sans-serif;
}

.blog-1{
    width: 45%;
    float: left;
    
}
.blog-box img{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 160px;
    z-index: -1;
}
.blog-box-1 img{
    width: 75px;
    height: 75px;
    position: absolute;
    left: 600px;
    bottom: 20px;
    z-index: -1;
}
.blog-box-2 img{
    width: 75px;
    height: 75px;
    position: absolute;
    left: 215px;
    top: 885px;
    z-index: -1;
}




.blog-1 img{
    width: 100%;
    width: 500px;
}

.blog-2{
    width: auto;
}

.blog-2 h1, span {
    padding-top: 250px;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    line-height: 100px;
}

.blog-2 span{
    color: #FFAD5A;
}
.blog-2 p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 25px;
}
.blog-2 .btn{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    margin-top: 40px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #FF5959;
    border-radius: 5px;
}

footer{
    margin-top: 250px;
    width: 100%;
    height: 200px;
    background: #0B0D17;
}

footer h1{
    font-size: 35px;
    font-family: 'Lobster', cursive;
    color: #fff;
    text-align: center;
}

footer span{
    font-size: 35px;
    font-family: 'Lobster', cursive;
    color: #FF5959;
}
footer p{
    font-size: 13px;
    color: #fff;
    text-align: center;
}